<div class="partners-logo-slider">
    <p class="sliderTitle">Trusted by:</p>
    <div class="slide-track">
        <div class="slide">
            <img [src] ="rutaImagen1" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../../public/images/bottom-carrousel/alcaldia.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/minAmbiente.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/minCiencias.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/sena.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/fondoEmprender.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/alcaldia.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/IDRD.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/minAmbiente.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/minCiencias.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/sena.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="public/images/bottom-carrousel/fondoEmprender.png" height="100" width="250" alt="" />
        </div>
    </div>
</div>