<div class="partners-logo-slider">
    <p class="sliderTitle">Trusted by:</p>
    <div class="slide-track">
        <div class="slide">
            <img src="images/bottom-carrousel/nu.webp" alt="Nu Bank"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/colombia.webp" alt="Colombia"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/alcaldia.webp" alt="Alcaldía Bogotá"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/IDRD.webp" alt="IDRD"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/minAmbiente.webp" alt="Min. Ambiente"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/minCiencias.webp" alt="Min. Ciencias"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/sena.webp" alt="SENA"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/fondoEmprender.webp" alt="Fondo Emprender"/>
        </div>

        <div class="slide">
            <img src="images/bottom-carrousel/nu.webp" alt="Nu Bank"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/colombia.webp" alt="Colombia"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/alcaldia.webp" alt="Alcaldía Bogotá"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/IDRD.webp" alt="IDRD"/>
        </div>

        <div class="slide">
            <img src="images/bottom-carrousel/minAmbiente.webp" alt="Min. Ambiente"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/minCiencias.webp" alt="Min. Ciencias"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/sena.webp" alt="SENA"/>
        </div>
        <div class="slide">
            <img src="images/bottom-carrousel/fondoEmprender.webp" alt="Fondo Emprender"/>
        </div>
    </div>
</div>