<div class="body">
    <div class="slider">
        <div class="button">
            <button><i class="bi bi-arrow-left-short"></i></button>
        </div>
        <div>
            <!-- <img src="images/slider/city/city-bike.png" alt=""> -->
            <!-- <img src="images/slider/road/road-bike.png" alt=""> -->
            <!-- <img src="images/slider/mountain/mountain-bike.png" alt=""> -->
            <img src="images/slider/gravel/gravel-bike.png" alt="">
        </div>
        <div>
            <!-- <img src="images/slider/city/city-adjetive.png" alt=""> -->
            <!-- <img src="images/slider/road/road-adjetive.png" alt=""> -->
            <!-- <img src="images/slider/mountain/mountain-adjetive.png" alt=""> -->
            <img src="images/slider/gravel/gravel-adjetive.png" alt="">
        </div>
        <div class="button">
            <button><i class="bi bi-arrow-right-short"></i></button>
        </div>
    </div>
</div>
