<div class="footer">
    <div class="container">
        <div class="sections">
            <div>
                <ul>
                    <li><a href="#"><i class="bi bi-sign-intersection-side"></i> Road e-bikes</a></li>
                    <li><a href="#"><i class="bi bi-signpost"></i> Gravel e-bikes</a></li>
                    <li><a href="#"><i class="bi bi-signpost-split"></i> Mountain e-bikes</a></li>
                    <li><a href="#"><i class="bi bi-sign-intersection"></i> City e-bikes</a></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a href="#"><i class="bi bi-cart4"></i> Cart</a></li>
                    <li><a href="#"><i class="bi bi-backpack2"></i> Accessories</a></li>
                    <li><a href="#"><i class="bi bi-percent"></i> Discounts</a></li>
                    <li><a href="#"><i class="bi bi-bicycle"></i> Register your e-bike</a></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a href="#"><i class="bi bi-person"></i> My account</a></li>
                    <li><a href="#"><i class="bi bi-person-add"></i> Sign Up</a></li>
                    <li><a href="#"><i class="bi bi-person-check"></i> Sing In</a></li>
                    <li><a href="#"><i class="bi bi-person-exclamation"></i> Forgot password?</a></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a href="#"><i class="bi bi-at"></i> Contact</a></li>
                    <li><a href="#"><i class="bi bi-info-circle"></i> FAQs</a></li>
                    <li><a href="#"><i class="bi bi-box2-heart"></i> Warranty</a></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a href="#"><i class="bi bi-tiktok"></i> Tiktok</a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="bi bi-twitter-x"></i> Twitter-X</a></li>
                </ul>
            </div>
        </div>

        <div class="legal">
            <ul>
                <li><i class="bi bi-c-circle"></i> Copyright {{ano}}</li>
                <li>yellowCat is an <a href="#" rel="nofollow" target="_blank">Anfe-ion</a> Company</li>
            </ul>
        </div>
    </div>
    <div>
</div>