<div class="body">
    <h1>yellowCat e-Bike Warranty Policy</h1>
    <h2>Warranty Coverage: </h2>
    <p>yellowCat offers a limited warranty for all new e-bikes purchased through our store. This warranty covers defects
        in
        materials and workmanship under normal use for a period of 12 months from the date of purchase.</p>
    <h2>What's Covered:</h2>
    <ul>
        <li><b>Frame: </b>Structural defects in the frame.</li>
        <li><b>Battery: </b>Manufacturing defects or issues with battery performance.</li>
        <li><b>Motor: </b>Malfunctions or defects in the motor.</li>
        <li><b>Electrical Components: </b>Issues with the controller, display, and wiring.</li>
        <li><b>Mechanical Components: </b>Defects in parts like brakes, pedals, or gears.</li>
    </ul>
    <h2>What's Not Covered:</h2>
    <ul>
        <li>Normal wear and tear.</li>
        <li>Damage resulting from accidents, misuse, or neglect.</li>
        <li>Modifications or unauthorized repairs.</li>
        <li>Damage caused by improper assembly or maintenance.</li>
        <li>Cosmetic damage, including scratches or dents.</li>
    </ul>
    <h2>Claim Process:</h2>
    <p>To make a warranty claim, please contact yellowCat customer service with your proof of purchase and a detailed
        description of the issue. We may request photos or videos to assess the problem.</p>
    <h2>Warranty Service:</h2>
    <p>If your claim is approved, yellowCat will, at its discretion, repair or replace the defective part or the entire
        e-bike. The replacement parts or e-bike may be new or refurbished.</p>
    <h2>Limitations:</h2>
    <p>This warranty is non-transferable and only applies to the original purchaser. It does not cover incidental or
        consequential damages. The warranty is void if the e-bike has been used for commercial purposes.</p>
    <h2>Shipping Costs:</h2>
    <p>The customer is responsible for shipping costs associated with warranty claims. If the claim is approved,
        yellowCat may, at its discretion, cover the return shipping costs.</p>
    <h2>Contact Information:</h2>
    <p>For warranty claims or questions, please contact us at <a
            href="mailto:support@yellowCat.com">support&#64;yellowCat.com</a>.</p>

    <div>
        <button (click)="homeRed()">Return to home</button>
    </div>
</div>