<ul class="menu">
    <div>
        <i class="bi bi-sun"></i>
    </div>
    <div>
        <li (click)="spanishSwitch()"><i class="bi bi-arrow-left-right"></i> ES</li>
    </div>

    <div>
        <li><a (click)="homeRed()"><i class="bi bi-house-door"></i> Home</a></li>
        <ul><a (click)="toggleMenu()"><i class="bi bi-lightning-charge-fill"></i> e-Bikes <i
                    class="bi bi-arrow-down-short"></i></a>
            <ul class="submenu">
                <li><a (click)="roadRed()">Road</a></li>
                <li><a (click)="gravelRed()">Gravel</a></li>
                <li><a (click)="cityRed()">City</a></li>
                <li><a (click)="mountainRed()">Mountain</a></li>
                <li><a (click)="allEbikesRed()">All e-bikes</a></li>
            </ul>
        </ul>
        <li><a href="#"><i class="bi bi-backpack2"></i> Accessories <i class="bi bi-arrow-down-short"></i></a>
            <ul><a (click)="helmetsRed()">Helmets</a></ul>
            <ul><a (click)="partsRed()">Parts</a></ul>
            <ul><a (click)="clothesRed()">Clothes</a></ul>
            <ul><a (click)="allAccessoriesRed()">All Accessories</a></ul>
        </li>
        <li><a (click)="cartRed()"><i class="bi bi-cart4"></i> Cart</a></li>
        <li><a (click)="discountsRed()"><i class="bi bi-percent"></i> Discounts</a></li>
        <li><a href="https://registrobicibogota.movilidadbogota.gov.co/" rel="nofollow" target="_blank"><i class="bi bi-bicycle"></i> Register your e-Bike</a></li>
    </div>

    <div>
        <!-- <li><a href="#"><i class="bi bi-person-heart"></i> My Profile</a></li> -->
        <li><a (click)="loginRed()"><i class="bi bi-person-check"></i> Sign In</a></li>
        <!-- <li><a href="#"><i class="bi bi-person-x"></i> Sign Out</a></li> -->
        <li><a (click)="signUpRed()"><i class="bi bi-person-add"></i> Sign Up</a></li>
    </div>

    <div>
        <li><a (click)="contactRed()"><i class="bi bi-at"></i> Contact</a></li>
        <li><a (click)="FAQsRed()"><i class="bi bi-info-circle"></i> FAQs</a></li>
        <li><a (click)="warrantyRed()"><i class="bi bi-box2-heart"></i> Warranty</a></li>
    </div>


    <div>
        <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
        <li><a href="#"><i class="bi bi-tiktok"></i></a></li>
    </div>
</ul>