<div class="body">
    <div class="container">
        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2">
        <input type="radio" name="slider" id="item-3">
        <div class="cards">
            <label class="card" for="item-1" id="song-1">
                <img src="images/slider/off.png" alt="Discount code">
                <button (click)="discount()" style="height: 3em;">Use this code!</button>
            </label>
            <label class="card" for="item-2" id="song-2">
                <img src="images/slider/etravel.png" alt="e-travel group">
                <button (click)="group()" style="height: 3em;">Join e-travel group!</button>

            </label>
            <label class="card" for="item-3" id="song-3">
                <img src="images/slider/all.png" alt="">
                <button (click)="all()" style="height: 3em;">See all e-bikes!</button>
            </label>

        </div>
    </div>
</div>